{% extends 'base.html' %}
{% block body_class %}custom-bg-soft-green{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><i class="bi bi-person-fill-add"></i> Register</div>
                <div class="card-body">
                    <!-- Display error message -->
                    <div id="registerAlert" class="alert alert-danger d-none"></div>
                    <form id="registerForm" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Username:</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email:</label>
                            <input type="text" class="form-control" name="email" id="email">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password:</label>
                            <input type="password" class="form-control" name="password1" id="password1">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Confirm Password:</label>
                            <input type="password" class="form-control" name="password2" id="password2">
                        </div>

                        <button type="submit" class="btn btn-success mt-3">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
