{#<!-- course/admin/account_settings.html -->#}
{% extends 'base.html' %}
{% block body_class %}custom-bg-soft-blue{% endblock %}
{% block title %}Account Settings{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <i class="bi bi-person-fill-gear"></i> Account Settings
        </div>
        <div class="card-body">
            <p><strong>Username:</strong> Lucy</p>
            <button class="btn btn-warning">Change Password</button>
        </div>
    </div>
</div>
{% endblock %}
